<menu-bar-user></menu-bar-user>
<div id="Principal" style="display: flexbox">
  <div id="textoInicial" style="text-align: center">Registro de:
    <select [(ngModel)]="selectedOptionServices" (change)="onSelectionChange()">

      <option value="Materia_prima">Materia prima</option>
      <option value="confeccion">Servicios</option>
    </select>
  </div>


  <p-card [style]="{
      display: 'flexbox',
      width: '80%',
      height: '80%',
      margin: '0 auto'
    }">


    <!-- Card principal -->
    <div class="card">
      <p-table #dt [value]="product_materia" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name', 'material']" responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '50rem' }" [(selection)]="selected_farm" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Mostrando  {first} pagina de {last}. Datos totales {totalRecords} "
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..." />

          </span>

        </div>
        <div class="flex">
          <button type="button" pButton icon="pi pi-plus" iconPos="right" label="Crear registro"
            (click)="showCreateRegistry()" style="margin: 0.5rem"
            class="p-button-success p-mr-2" tooltipPosition="bottom" *ngIf="(product_materia && product_materia.length > 0) ||newRegistry==-1">
          </button>
          <button type="button" pButton icon="pi pi-file" iconPos="right" label="Exportar"
            (click)="exportar()" class="p-button-info ml-auto" pTooltip="Selection Only"
            tooltipPosition="bottom"  *ngIf="selected_farm && selected_farm.length > 0"
            >
          </button>
        </div>
    </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let column of columnas" pSortableColumn="{{column.field}}">
            {{column.header}} <p-sortIcon field="{{column.field}}"></p-sortIcon>
          </th>
          <th>Ver registros</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product_materia>
        <tr>
          <td>
            <p-tableCheckbox [value]="product_materia"></p-tableCheckbox>
          </td>
          <td *ngFor="let column of columnas">{{product_materia[column.field]}}</td>
          <td>
            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2"
              [value]="product_materia" (click)="showParcelEdit(product_materia)"
              (click)="registry(product_materia.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Tiene en total: {{ product_materia ? product_materia.length : 0 }} Registros.
        </div>
      </ng-template>
    </p-table>


      <!-- Crear una parcela -->
      <div class="parcela">
        <p-dialog [(visible)]="visibleCreateFarm" [style]="{ width: '50vw' }" [modal]="true" class="model"
          styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Crea tus registros</h2>
          <br />
          <form (ngSubmit)="onSubmit()">



              <div class="letter">Ingrese el nombre del registro</div>
              <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">

              <input     class="col-12" name="name_registry" id="name_registry" type="text" [(ngModel)]="name_registry" required/>
              <label for="name_registry">Nombre&nbsp;</label>

                </span>
            </div>
            <br>

            <div class="letter">Ingrese el precio por unidad</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
              <input class="col-12" type="text" id="precio" name="precio" [(ngModel)]="precio" required/>
              <label for="precio">&nbsp;</label>

            </span>
            </div>
            <br>

            <div class="letter">Ingrese el material a utilizar</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="material" name="material" [(ngModel)]="materialselected" required>
                  <option *ngFor="let type of material_type" [value]="type">{{ type }}</option>
                </select>
                <label for="material">Material&nbsp;</label>
              </span>
            </div>
            <br>

            <br>

            <div class="letter">Ingrese la unidad de medida</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="unit_of_measure" name="unit_of_measure" [(ngModel)]="unit_selected" required>
                  <option *ngFor="let type of unit_of_measure" [value]="type">{{ type }}</option>
                </select>
                <label for="material">Unidad de medida&nbsp;</label>
              </span>
            </div>
            <br>

            <div class="letter">Ingrese la cantidad</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
              <input class="col-12" type="text" id="remaining_amount" name="remaining_amount" [(ngModel)]="remaining_amount" required/>
              <label for="precio">&nbsp;</label>

            </span>
            </div>
            <br>


            <br>
            <button class="btn btn-primary btn-block" type="submit">Enviar</button>
          </form>
        </p-dialog>
      </div>

      <div class="parcela">
        <p-dialog [(visible)]="visibleCreateService" [style]="{ width: '50vw' }" [modal]="true" class="model"
          styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Crea tus registros</h2>
          <br />
          <form (ngSubmit)="onSubmit()">
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="creation_date" id="creation_date" type="date" [(ngModel)]="serviceProduct.creation_date"
                  required />
                <label for="creation_date">Fecha de Creación</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="delivery_date" id="delivery_date" type="date" [(ngModel)]="serviceProduct.delivery_date"
                  required />
                <label for="delivery_date">Fecha de Entrega</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="service_price" id="service_price" type="number" [(ngModel)]="serviceProduct.service_price"
                  required />
                <label for="service_price">Precio del Servicio</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="client_name" id="client_name" type="text" [(ngModel)]="serviceProduct.client_name"
                  required />
                <label for="client_name">Nombre del Cliente</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="client_phone" id="client_phone" type="text" [(ngModel)]="serviceProduct.client_phone"
                  required />
                <label for="client_phone">Teléfono del Cliente</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" name="service_type" id="service_type" [(ngModel)]="serviceProduct.service_type" required>
                  <option value="Confeccion">Confección</option>
                  <option value="Reparacion">Reparación</option>
                </select>
                <label for="service_type">Tipo de Servicio</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="service_description" id="service_description" type="text"
                  [(ngModel)]="serviceProduct.service_description" required />
                <label for="service_description">Descripción del Servicio</label>
              </span>
            </div>
            <br>


            <br>
            <br>

            <button class="btn btn-primary btn-block" type="submit">Enviar</button>
          </form>
        </p-dialog>
      </div>


      <!-- Informacion de parcelas -->
      <!--nombre_variable despues en type script -->

      <p-dialog [(visible)]="editVisibleParcel" [style]="{ width: '50vw' }" [modal]="true" class="model"
      styleClass="p-fluid" [baseZIndex]="999">
      <h2 class="text-center">Edita tu registro</h2>
          <br />
          <form *ngIf="selectedOptionServices === 'Materia_prima'" (ngSubmit)="onSubmit2MateriaPrima()">
            <br>

            <div class="seedName1">
              <label for="seedName">Nombre del registro:&nbsp;</label>
              <input id="seedName" name="seedName" type="text" [(ngModel)]="product_materia.name" required>
            </div>

            <br>

            <div class="texInformation">
              <!-- Aquí puedes mostrar información adicional si lo necesitas -->
            </div>

            <div class="width1">
              <label for="unit_price">Precio por unidad:&nbsp;</label>
              <input type="number" id="unit_price" name="unit_price" [(ngModel)]="materiaPcreate.unit_price" required>
            </div>
            <br>

            <div class="length1">
              <label for="remaining_amount">Cantidad restante:&nbsp;</label>
              <input type="text" id="remaining_amount" name="remaining_amount" [(ngModel)]="materiaPcreate.remaining_amount" required>
            </div>
            <br>

            <div class="cropModality1">
              <label for="material_type">Tipo de material:&nbsp;</label>
              <select id="material_type" name="material_type" [(ngModel)]="materiaPcreate.material_type" required>
                <!-- Aquí puedes agregar las opciones de tipo de material -->
              </select>
            </div>

            <br>
            <button class="boton" type="submit">Editar</button>
          </form>

          <form *ngIf="selectedOptionServices === 'confeccion'" (ngSubmit)="onSubmit2Service()">
            <br>

            <div class="seedName1">
              <label for="service_description">Descripción del servicio:&nbsp;</label>
              <input id="service_description" name="service_description" type="text" [(ngModel)]="serviceProductSelect.service_description" required>
            </div>

            <br>

            <div class="texInformation">
              <!-- Aquí puedes mostrar información adicional si lo necesitas -->
            </div>

            <div class="width1">
              <label for="service_price">Precio del servicio:&nbsp;</label>
              <input type="number" id="service_price" name="service_price" [(ngModel)]="serviceProductSelect.service_price" required>
            </div>
            <br>

            <div class="length1">
              <label for="service_type">Tipo de servicio:&nbsp;</label>
              <select id="service_type" name="service_type" [(ngModel)]="serviceProductSelect.service_type" required>
                <option value="Confeccion">Confección</option>
                <option value="Reparacion">Reparación</option>
              </select>
            </div>

            <br>
            <button class="boton" type="submit">Editar</button>
          </form>

      </p-dialog>

    </div>
  </p-card>
</div>
