<menu-bar-user></menu-bar-user>
<p-toast></p-toast>
<div id="Principal" style="display: flexbox">
  <div id="textoInicial" style="text-align: center">Hola, Gestiona los movimientos de:
    <select [(ngModel)]="selectedOptionServices" (change)="onSelectionChange()">

      <option value="Materia_prima">Materia prima</option>
      <option value="Confección">Servicios</option>
      <option value="Usuarios">Usuarios</option>
    </select>
  </div>


  <p-card [style]="{
      display: 'flexbox',
      width: '80%',
      height: '80%',
      margin: '0 auto'
    }">


    <!-- Card principal -->
    <div class="card">
      <p-table #dt [value]="product_materia" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name', 'material']" responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '50rem' }" [(selection)]="selected_farm" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Mostrando  {first} pagina de {last}. Datos totales {totalRecords} "
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..." />

          </span>

        </div>
        <div class="flex">
          <button type="button" pButton icon="pi pi-plus" iconPos="right" label="Crear registro"
            (click)="showCreateRegistry()" style="margin: 0.5rem"
            class="p-button-success p-mr-2" tooltipPosition="bottom" *ngIf="(product_materia && product_materia.length > 0) ||newRegistry==-1">
          </button>
          <button type="button" pButton icon="pi pi-file" iconPos="right" label="Exportar"
            (click)="exportar()" class="p-button-info ml-auto" pTooltip="Selection Only"
            tooltipPosition="bottom"  *ngIf="selected_farm && selected_farm.length > 0"
            >

          </button>
          <button type="button" pButton icon="pi pi-plus" iconPos="right" label="Crear procesos"
          (click)="showprocessRegistry()" style="margin: 0.5rem"
          class="p-button-success p-mr-2" tooltipPosition="bottom" *ngIf="(product_materia && product_materia.length > 0 && selectedOptionServices=='Confección') ||newRegistry==-1">
        </button>
        </div>
    </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let column of columnas" pSortableColumn="{{column.field}}">
            {{column.header}} <p-sortIcon field="{{column.field}}"></p-sortIcon>
          </th>
          <th>Ver registros</th>

          <th>Eliminar</th>

          <th *ngIf="selectedOptionServices=='Confección'"
          >Asignar procesos</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product_materia>
        <tr>
          <td>
            <p-tableCheckbox [value]="product_materia"></p-tableCheckbox>
          </td>
          <td *ngFor="let column of columnas">{{product_materia[column.field]}}</td>
          <td>
            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2"
              [value]="product_materia" (click)="showParcelEdit(product_materia)"
              ></button>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product_materia)"></button>
          </td>
          <td *ngIf="selectedOptionServices=='Confección'">
            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mr-2" (click)="addedprocess(product_materia)">
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Tiene en total: {{ product_materia ? product_materia.length : 0 }} Registros.
        </div>
      </ng-template>
    </p-table>


      <!-- Crear una parcela -->
      <div class="parcela p-fluid grid">
        <p-dialog [(visible)]="visibleCreateFarm" [style]="{ width: '50vw' }" [modal]="true" class="model" styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Crea tus registros</h2>
          <br />
          <form (ngSubmit)="onSubmit()">
            <div class="p-fluid grid form-grid">
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input name="name_registry" id="name_registry" type="text" pInputText  [(ngModel)]="name_registry" required />
                  <label for="name_registry">Nombre del registro</label>
                </span>
              </div>

              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input name="precio" id="precio" type="text" pInputText [(ngModel)]="precio" required />
                  <label for="precio">Precio por unidad</label>
                </span>
              </div>

              <div class="field col-12 md-6">
                <span class="p-float-label">
                  <select id="material" name="material" [(ngModel)]="materialselected" required>
                    <option *ngFor="let type of material_type" [value]="type">{{ type }}</option>
                  </select>
                  <label *ngIf="!materialselected" for="material">Material a utilizar</label>
                </span>
              </div>


              <div class="field col-12 md-6">
                <span class="p-float-label">
                  <select id="unit_of_measure" name="unit_of_measure" pInputText [(ngModel)]="unit_selected" required>
                    <option *ngFor="let type of unit_of_measure" [value]="type">{{ type }}</option>
                  </select>
                  <label *ngIf="!unit_selected" for="unit_of_measure">Unidad de medida</label>
                </span>
              </div>


              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input name="remaining_amount" id="remaining_amount" type="text" pInputText [(ngModel)]="remaining_amount" required />
                  <label for="remaining_amount">Cantidad</label>
                </span>
              </div>

              <div class="field col-12 text-center">
                <button class="btn btn-primary btn-block" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </p-dialog>
      </div>

  <div class="parcela">
  <p-dialog [(visible)]="visibleCreateService" [style]="{ width: '50vw' }" [modal]="true" class="model"
    styleClass="p-fluid" [baseZIndex]="999">
    <h2 class="text-center">Crea tus registros</h2>
    <br />
    <form (ngSubmit)="onSubmit()" class="p-fluid">

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <input name="delivery_date" id="delivery_date" type="date" pInputText [(ngModel)]="serviceProduct.delivery_date"
            required />
          <label for="delivery_date">Fecha de Entrega</label>
        </span>
      </div>
      <br>

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <input name="service_price" id="service_price" type="number" pInputText [(ngModel)]="serviceProduct.service_unit_price"
            required />
          <label for="service_price">Precio del Servicio</label>
        </span>
      </div>
      <br>

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <input name="client_name" id="client_name" type="text" pInputText [(ngModel)]="serviceProduct.client_name"
            required />
          <label for="client_name">Nombre del Cliente</label>
        </span>
      </div>
      <br>

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <input name="client_phone" id="client_phone" type="text" pInputText [(ngModel)]="serviceProduct.client_phone"
            required />
          <label for="client_phone">Teléfono del Cliente</label>
        </span>
      </div>
      <br>

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <select name="service_type" id="service_type" pInputText [(ngModel)]="serviceProduct.service_type" required>
            <option value="Confección">Confección</option>
            <option value="Reparación">Reparación</option>
          </select>
          <label *ngIf="!serviceProduct.service_type" for="service_type">Tipo de servicio</label>

        </span>
      </div>
      <br>

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <input name="service_description" id="service_description" type="text" pInputText
            [(ngModel)]="serviceProduct.service_description" required />
          <label for="service_description">Descripción del Servicio</label>
        </span>
      </div>
      <br>

      <div class="field col-12 md-6">
        <span class="p-float-label">
          <input name="amount_service" id="amount_service" type="number" pInputText
            [(ngModel)]="serviceProduct.amount_service" required />
          <label for="amount_service">Cantidad</label>
        </span>
      </div>
      <br>

      <div class="field col-12 text-center">
        <button class="btn btn-primary btn-block" type="submit">Enviar</button>
      </div>
    </form>
  </p-dialog>
</div>

      <div class="parcela">
        <p-dialog [(visible)]="visibleCreateUser" [style]="{ width: '50vw' }" [modal]="true" class="model"
          styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Crea usuarios de trabajadores</h2>
          <br />
          <form (ngSubmit)="onSubmit()">

            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="email" id="email" type="text" [(ngModel)]="serviceProduct.delivery_date"
                  required />
                <label for="email">email</label>
              </span>
            </div>
            <br>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="Contraseña" id="Contraseña" type="text" [(ngModel)]="serviceProduct.delivery_date"
                  required />
                <label for="Contraseña">Contraseña</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" name="service_type" id="service_type" [(ngModel)]="serviceProduct.service_type" required>
                  <option value="Administrador">Adminitrador</option>
                  <option value="Operador">Operador</option>
                </select>

                <label *ngIf="!serviceProduct.service_type" for="service_type">Rol de usuario</label>
              </span>
            </div>
            <br>


            <br>
            <br>

            <button class="btn btn-primary btn-block" type="submit">Enviar</button>
          </form>
        </p-dialog>
      </div>


      <div class="parcela">
        <p-dialog [(visible)]="visibleProcessCreate" [style]="{ width: '50vw' }" [modal]="true" class="model"
          styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Crear procesos</h2>
          <br />
          <form (ngSubmit)="createProcessButton()">

            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" name="proccess_price" pInputText id="proccess_price" type="number" [(ngModel)]="processCreate.process_price"
                  required />
                <label for="proccess_price">Costo proceso</label>
              </span>
            </div>
            <br>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" pInputText name="process_name" id="process_name" type="text" [(ngModel)]="processCreate.process_name"
                  required />
                <label for="process_name">Nombre Proceso</label>
              </span>
            </div>
            <br>

            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" pInputText name="process_description" id="process_description" type="text" [(ngModel)]="processCreate.process_description"
                  required />
                <label for="process_description">Descripción Proceso</label>
              </span>
            </div>
            <br>

            <button class="btn btn-primary btn-block" type="submit">Enviar</button>
          </form>
        </p-dialog>
      </div>


      <div class="parcela">
        <p-dialog [(visible)]="addedproccesCreate" [style]="{ width: '50vw' }" [modal]="true" class="model"
          styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Asignar procesos a usuarios</h2>
          <br />
          <form (ngSubmit)="createUserServiceProcess()">

            <br>


            <div class="letter">Escoja el operario</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="getUsers" name="getUsers" [(ngModel)]="UserSelected" required>
                  <option *ngFor="let type of getUsers" [ngValue]="type">{{ type.email }}</option>
                </select>
              </span>
            </div>
            <br>

            <div class="letter">Escoja el Proceso</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="getProcess" name="getProcess" [(ngModel)]="processSelected" required>
                  <option *ngFor="let type of getProcess" [ngValue]="type">{{ type.process_name }}</option>
                </select>
              </span>
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit">Enviar</button>
          </form>
        </p-dialog>
      </div>

      <p-dialog [(visible)]="editVisibleParcel" [style]="{ width: '50vw' }" [modal]="true" class="model" styleClass="p-fluid" [baseZIndex]="999">
        <h2 class="text-center">Edita tu registro</h2>
        <br />
        <form *ngIf="selectedOptionServices === 'Materia_prima'" (ngSubmit)="onSubmit2MateriaPrima()">
            <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                    <input class="col-12" id="seedName" name="seedName" pInputText type="text" [(ngModel)]="materiaPcreate.name" required />
                    <label for="seedName">Nombre del registro</label>
                </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                    <input class="col-12" id="unit_price" name="unit_price" pInputText type="number" [(ngModel)]="materiaPcreate.unit_price" required />
                    <label for="unit_price">Precio por unidad</label>
                </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                    <input class="col-12" id="remaining_amount" name="remaining_amount" pInputText type="text" [(ngModel)]="materiaPcreate.remaining_amount" required />
                    <label for="remaining_amount">Cantidad restante</label>
                </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                    <select class="col-12" id="material_type" name="material_type" [(ngModel)]="materiaPcreate.material_type" required>
                        <option *ngFor="let type of material_type" [value]="type">{{ type }}</option>
                    </select>
                    <label *ngIf="!materiaPcreate.material_type" for="material">Tipo de material</label>

                </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                    <select class="col-12" id="unit_of_measure" name="unit_of_measure" [(ngModel)]="materiaPcreate.unit_of_measure" required>
                        <option *ngFor="let measure of unit_of_measure" [value]="measure">{{ measure }}</option>
                    </select>
                    <label *ngIf="!materiaPcreate.unit_of_measure" for="unit_of_measure">Unidad de medida</label>

                </span>
            </div>
            <br />
            <button class="btn btn-primary btn-block" type="submit">Editar</button>
        </form>
        <form *ngIf="selectedOptionServices === 'Confección'" (ngSubmit)="onSubmit2Service()">
          <div class="field-container">
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="service_description" name="service_description" pInputText type="text" [(ngModel)]="serviceProductSelect.service_description" required />
                <label for="service_description">Descripción del servicio</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="service_price" name="service_price" pInputText type="number" [(ngModel)]="serviceProductSelect.service_unit_price" required />
                <label for="service_price">Precio del servicio unitario</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="service_type" name="service_type" [(ngModel)]="serviceProductSelect.service_type" required>
                  <option value="Confección">Confección</option>
                  <option value="Reparacion">Reparación</option>
                </select>
                <label *ngIf="!serviceProductSelect.service_type" for="service_type">Tipo de servicio</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="creation_date" name="creation_date" pInputText readonly type="date" [(ngModel)]="serviceProductSelect.creation_date" required />
                <label for="creation_date">Fecha de creación</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="delivery_date" name="delivery_date" pInputText type="date" [(ngModel)]="serviceProductSelect.delivery_date" required />
                <label for="delivery_date">Fecha de entrega</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="client_name" name="client_name" pInputText type="text" [(ngModel)]="serviceProductSelect.client_name" required />
                <label for="client_name">Nombre del cliente</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="client_phone" name="client_phone" pInputText type="tel" [(ngModel)]="serviceProductSelect.client_phone" required />
                <label for="client_phone">Teléfono del cliente</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="col-12" id="amount_service" name="amount_service" pInputText type="number" [(ngModel)]="serviceProductSelect.amount_service" required />
                <label for="amount_service">Cantidad</label>
              </span>
            </div>
            <br />
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <input class="value" type="checkbox" id="is_active" name="is_active" [(ngModel)]="serviceProductSelect.is_active" />
                <label for="is_active">Activo</label>
              </span>
            </div>
            <br />
            <button class="btn btn-primary btn-block" type="submit">Editar</button>
            <br />
            <div class="additional-fields">
              <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                  <select class="col-12" id="person_in_charge" name="person_in_charge" [(ngModel)]="UserSelected1" (ngModelChange)="updateProcesses()" required>
                    <option *ngFor="let email of uniqueEmails" [value]="email">{{ email }}</option>
                  </select>
                  <label *ngIf="!UserSelected1" for="person_in_charge">Encargado</label>
                </span>
              </div>
              <br />
              <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                  <select class="col-12" id="process_name" name="process_name" [(ngModel)]="processSelected" [disabled]="!UserSelected1 || !UserSelected1.length" (ngModelChange)="updatePrice()" required>
                    <option value="">Selecciona un proceso</option>
                    <option *ngFor="let process of processesFound" [value]="process">{{ process }}</option>
                  </select>
                  <label *ngIf="!processSelected" for="process_name">Nombre del proceso</label>
                </span>
              </div>
              <br />
              <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">
                  <input class="col-12" id="process_price" name="process_price" pInputText type="number" [(ngModel)]="selectedProcessPrice" [disabled]="!UserSelected1" required />
                  <label for="process_price">Precio</label>
                </span>
              </div>
            </div>
          </div>
        </form>


    </p-dialog>

    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
