<menu-bar-user></menu-bar-user>
<div id="Principal" style="display: flexbox">
  <div id="textoInicial" style="text-align: center">Registro de:
    <select [(ngModel)]="selectedOptionServices" (change)="onSelectionChange()">

      <option value="Materia_prima">Materia prima</option>
      <option value="confeccion">Servicio de confección</option>
      <option value="Reparacion">Reparación</option>
    </select>
  </div>


  <p-card [style]="{
      display: 'flexbox',
      width: '80%',
      height: '80%',
      margin: '0 auto'
    }">


    <!-- Card principal -->
    <div class="card">
      <p-table #dt [value]="product_materia" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name', 'material']" responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '50rem' }" [(selection)]="selected_farm" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Mostrando  {first} pagina de {last}. Datos totales {totalRecords} "
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..." />

          </span>

        </div>
        <div class="flex">
          <button type="button" pButton icon="pi pi-plus" iconPos="right" label="Crear registro"
            (click)="showCreateRegistry()" style="margin: 0.5rem"
            class="p-button-success p-mr-2" tooltipPosition="bottom" *ngIf="product_materia && product_materia.length > 0">
          </button>
          <button type="button" pButton icon="pi pi-file" iconPos="right" label="Exportar"
            (click)="exportar()" class="p-button-info ml-auto" pTooltip="Selection Only"
            tooltipPosition="bottom"  *ngIf="selected_farm && selected_farm.length > 0"
            >
          </button>
        </div>
    </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let column of columnas" pSortableColumn="{{column.field}}">
            {{column.header}} <p-sortIcon field="{{column.field}}"></p-sortIcon>
          </th>
          <th>Ver registros</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product_materia>
        <tr>
          <td>
            <p-tableCheckbox [value]="product_materia"></p-tableCheckbox>
          </td>
          <td *ngFor="let column of columnas">{{product_materia[column.field]}}</td>
          <td>
            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2"
              [value]="product_materia" (click)="showParcel(product_materia.id,product_materia.name)"
              (click)="registry(product_materia.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Tiene en total: {{ product_materia ? product_materia.length : 0 }} Registros.
        </div>
      </ng-template>
    </p-table>


      <!-- Crear una parcela -->
      <div class="parcela">
        <p-dialog [(visible)]="visibleCreateFarm" [style]="{ width: '50vw' }" [modal]="true" class="model"
          styleClass="p-fluid" [baseZIndex]="999">
          <h2 class="text-center">Crea tus registros</h2>
          <br />
          <form (ngSubmit)="onSubmit()">



              <div class="letter">Ingrese el nombre del registro</div>
              <div class="field col-11 flex justify-content-center">
                <span class="p-float-label col-11 flex justify-content-center">

              <input     class="col-12" name="name_registry" id="name_registry" type="text" [(ngModel)]="name_registry" required/>
              <label for="name_registry">Nombre&nbsp;</label>

                </span>
            </div>
            <br>

            <div class="letter">Ingrese el precio por unidad</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
              <input class="col-12" type="text" id="precio" name="precio" [(ngModel)]="precio" required/>
              <label for="precio">&nbsp;</label>

            </span>
            </div>
            <br>

            <div class="letter">Ingrese el material a utilizar</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="material" name="material" [(ngModel)]="materialselected" required>
                  <option *ngFor="let type of material_type" [value]="type">{{ type }}</option>
                </select>
                <label for="material">Material&nbsp;</label>
              </span>
            </div>
            <br>

            <br>

            <div class="letter">Ingrese la unidad de medida</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
                <select class="col-12" id="unit_of_measure" name="unit_of_measure" [(ngModel)]="unit_selected" required>
                  <option *ngFor="let type of unit_of_measure" [value]="type">{{ type }}</option>
                </select>
                <label for="material">Unidad de medida&nbsp;</label>
              </span>
            </div>
            <br>

            <div class="letter">Ingrese la cantidad</div>
            <div class="field col-11 flex justify-content-center">
              <span class="p-float-label col-11 flex justify-content-center">
              <input class="col-12" type="text" id="remaining_amount" name="remaining_amount" [(ngModel)]="remaining_amount" required/>
              <label for="precio">&nbsp;</label>

            </span>
            </div>
            <br>


            <br>
            <button class="btn btn-primary btn-block" type="submit">Enviar</button>
          </form>
        </p-dialog>
      </div>


      <!-- Informacion de parcelas -->
      <!--nombre_variable despues en type script -->

      <p-dialog [(visible)]="editVisibleParcel" [style]="{ width: '50vw' }" [modal]="true" class="model"
      styleClass="p-fluid" [baseZIndex]="999">
      <h2 class="text-center">Edita tu registro</h2>
          <br />
          <form (ngSubmit)="onSubmit2()">

            <br>

            <div class="seedName1">
              <label for="seedName">Nombre del registro:&nbsp;</label>
              <select id="seedName" name="seedName" [(ngModel)]="seedName"
              [value]="specie_nameInput"
              required>
                <option value="">Seleccione una opción</option>
                <option *ngFor="let option of seedOptions" [value]="option.species_name">{{ option.species_name }}
                </option>
              </select>
            </div>

            <br>
            <div class="texInformation">
              <div class="text-center" *ngIf="selectedOption">
                <h3>Información:</h3>
                <p>Descripción: {{ selectedOption.description }}</p>
                <p>CBD: {{ selectedOption.cbd }} %</p>
                <p>THC: {{ selectedOption.thc }} %</p>
              </div>
            </div>

            <div class="width1">
              <label for="width">Precio:&nbsp;</label>
              <input type="number" id="widthInput" name="widthInput" [(ngModel)]="widthInput" [value]="widthInput" required>
            </div>
            <br>

            <div class="length1">
              <label for="length">Largo:&nbsp;</label>
              <input type="number" id="lengthInput" name="lengthInput" [value]="lengthInput" [(ngModel)]="lengthInput" required>
            </div>
            <br>

            <div class="cropModality1">
              <label for="cropModality">Modalidad de cultivo:&nbsp;</label>

              <select id="cropModality" name="cropModality" [(ngModel)]="cropModality" [value]="crop_modalityInput" required>
                <option class="dropdown-item" value="">Seleccione una opción</option>
                <option class="dropdown-item" value="Indoor">Interior</option>
                <option class="dropdown-item" value="Outdoor">Exterior</option>
              </select>
            </div>

            <br>
            <button class="boton" type="submit">Editar</button>
          </form>

      </p-dialog>
    </div>
  </p-card>
</div>
